.album,
.artist,
.track {
	border-bottom: 1px solid var(--clr-white);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 0;
}

.image-wrapper {
	background-color: var(--clr-grey);
	width: 100px;
	height: 100px;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 15px 0 0;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.info-wrapper {
	margin: 0 auto 0 0;
}

.name {
	font-weight: 700;
	font-size: 1.375rem;
	margin: 0 0 0.15em 0;
	color: var(--clr-green);
}

.release-date,
.genres {
	font-size: 0.875rem;
	opacity: 0.7;
	text-transform: capitalize;
}

.link-icon {
	width: 50px;

	path {
		transition: fill 200ms ease-in-out;
	}

	&:hover {
		path {
			fill: var(--clr-green);
		}
	}
}
