:root {
	--container-width: 150rem;
	--container-width-large: 180rem;
	--container-width-small: 80rem;

	--clr-black: #121212;
	--clr-grey: #333333;
	--clr-white: #ffffff;
	--clr-green: #1bd760;
	--clr-green-highlight: #1fdf64;
	--clr-red: #e61e32;

	--fnt: "Roboto", Helvetica, Arial, sans-serif;
	--fnt-headings: "upboltersitalic", serif;
	--fnt-headings-r: "upboltersregular", serif;
}
